# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# Virtual env
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Runtime
runs/
vision_logs/

# Dataset local
vision_dataset/

# YOLO
*.pt

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

captures/
captures_old/
*.egg-info/